<footer style="background-color: #1b1b1b;color: white;">
    <div class="container" style="padding-top: 45px;padding-bottom: 45px;">
        <h2><span style="color: #1ba0e2;">M</span>MANGA</h2>
        <br>
        <a href="/dmca" style="text-decoration: none;color: white;">DMCA</a>
        <br>
        <a href="/term" style="text-decoration: none;color: white;">TERM OF USE</a>
        <br>
        <a href="/privacy" style="text-decoration: none;color: white;">PRIVACY POLICY </a>
    </div>
</footer>