<footer style="background-color: #1b1b1b;color: white;">
    <div class="container" style="padding-top: 45px;padding-bottom: 45px;">
        <div class="row">
            <div class="col-md-4">
                <h2><span style="color: #1ba0e2;">M</span>MANGA</h2>
                <br>
                <a href="/dmca" style="text-decoration: none;color: white;">DMCA</a>
                <br>
                <a href="/term" style="text-decoration: none;color: white;">TERM OF USE</a>
                <br>
                <a href="/privacy" style="text-decoration: none;color: white;">PRIVACY POLICY </a>
                <br><br>
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous"
                    src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v6.0&appId=153313228407799&autoLogAppEvents=1"></script>
                <div class="fb-like" data-href="https://moonsmanga.com" data-width="" data-layout="standard"
                    data-action="like" data-size="large" data-share="true"></div>
            </div>
            <div class="col-md-4">
                &nbsp;&nbsp;&nbsp;&nbsp;อ่านมังงะแปลไทยฟรีๆ ได้ที่นี้ MoonsManga.com การ์ตูน อ่านการ์ตูน อ่านการ์ตูนออนไลน์ เว็บอ่านการ์ตูน มังงะแปลไทย หากมีการละเมิดลิขสิทธิ์ ทางเว็บไซต์จะไม่เกียวข้องเพราะ รูปภาพที่แสดงผลอยู่ในเว็บไซต์นี้ทางเว็บไซต์ไม่ได้เป็นคนอัพโหลด รูปภาพต่างๆ และพร้อมที่จะซ่อนการแสดงผลแล้วโปรโมท ลิขสิทธิ์แท้ทันที
            </div>
        </div>
        <br>
        <div class="" style="text-align: center;">
            เว็บไซต์ MoonsManga นี้ระบบทั้งหมด ถูกควยคุมด้วย bot Luna หากมีปัญหาอันใด ให้ติดต่อ admin ที่ไม่ใช้ bot
        </div>
    </div>
</footer>