<footer style="background-color: #1b1b1b;color: white;">
    <div class="container" style="padding-top: 45px;padding-bottom: 45px;">
        <h1><span style="color: #1ba0e2;">M</span>MANGA</h1>
    </div>
</footer>