<div class="row">
    <% for( let i = 0; i < name.length; i++ ) { %>
        <div class="col-md-2 col-6" style="padding-right: 0px;">
            <a href="" style="text-decoration: none;color: #130C11;">
                <div class="card"
                    style="background:url('<%= image[i] %>');background-size: cover;background-position: center; height: 240px;width: 100%;border-radius: 4px;">
                </div>
                <p style="margin-top: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <strong> <%= name[i] %> </strong><br>
                    <strong style="color: gray;"> <%= ep[i] %> </strong>
                    
                
                </p>
            </a>
        </div>

    <% } %>
    
</div>