<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4 col-4">
                    <img src="<%= image %>"
                        style="border-radius: 4px;box-shadow:0 1px 3px 0 rgba(27,27,27,.1), 0 4px 8px 0 rgba(27,27,27,.1);"
                        width="100%" alt="">
                </div>
                <div class="col-md-6 col-6">
                    <h4 id="warp">
                        <p><%= title %> </p>
                    </h4>
                    <div id="paddingMobile"></div>
                    <div id="mobileStat">
                        <p> สถานะ : ยังไม่จบ </p>
                        <p> ปีที่ออก : 2019 </p>
                        <p style="color: #1b1b1b;"> จำนวนคนอ่าน : 123,123 </p>
                        <br>
                    </div>
                    <a href="" class="btn btn-info" style="background-color: #1ba0e2;border-color: #1ba0e2;"> อ่านตอนแรก
                    </a>
                    <a id="mobileWatch" href="" class="btn btn-info" style="background-color: #1ba0e2;border-color: #1ba0e2;">
                        อ่านตอนล่าสุด </a>
                    <!-- <p style="color: #1b1b1b;width: 600px;"> เรื่องย่อ : <%= des %> </p> -->
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>
<script>
    var md = new MobileDetect(window.navigator.userAgent);
    console.log(md.mobile());
    if (md.mobile() != null) {
        // $('#warp').css('white-space', 'nowrap').css('overflow', 'hidden').css('text-overflow', 'ellipsis');
        $('#warp').css('width', screen.width - 150);
        $('#mobileStat').hide();
        $('#mobileWatch').css('margin-top','15px');

    } else {
        $('#paddingMobile').css('padding-top', '20px');
        $('#warp').css('white-space', 'nowrap');
    }
</script>